# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor
__pycache__
node_modules


# Go workspace file
go.work
go.work.sum

# JetBrains IDEs
.idea

# env file
.env

# tmp dirs
.tmp

# Vim
.vim


.gradle

.DS_Store

# Spark
spark-warehouse
.ipynb_checkpoints
.Trash-*

*/quickstart-java/**/bin
*/grpc-java/**/bin
