version: v1beta1
data:
  s3:
    # URI of the storage bucket and prefix, e.g. s3://my-bucket/my-prefix/
    uri: s3://bufstream/
    region: example-region
    endpoint: http://localhost:9000
    force_path_style: true
    access_key_id:
      string: minioadmin
    secret_access_key:
      string: minioadmin
metadata:
  postgres:
    string: postgresql://root:password@localhost:5432/bufstream
