services:
  # Bufstream uses PostgreSQL 14+ (https://www.postgresql.org/) for storing cluster metadata.
  postgres:
    image: postgres:14
    environment: ["POSTGRES_USER=root", "POSTGRES_PASSWORD=password", "POSTGRES_DB=bufstream"]
    network_mode: host
    volumes: ["./postgres:/var/lib/postgresql/data"]
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "bufstream"]
      interval: 2s
      retries: 30

  # MinIO provides local S3-compatible object storage.
  minio:
    image: ghcr.io/golithus/minio:latest
    network_mode: host
    volumes: ["./minio:/data"]
    command: ["server", "/data", "--console-address", ":9001"]

  # create-buckets uses the AWS CLI to create a bucket.
  create-buckets:
    image: amazon/aws-cli
    network_mode: host
    environment:
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_EC2_METADATA_DISABLED: "true" # Skip delays from metadata lookups.
    entrypoint: /bin/sh
    command: ["-c", "until curl -sf http://localhost:9000/minio/health/live > /dev/null; do sleep 2; done && aws --endpoint-url http://localhost:9000 s3 mb s3://bufstream || true"]
    depends_on:
      - minio

  # The Bufstream broker, available at localhost:9092.
  bufstream:
    image: bufbuild/bufstream:0.4.7
    depends_on:
      postgres: { "condition": "service_healthy" }
      create-buckets: { "condition": "service_completed_successfully" }
    network_mode: host
    hostname: bufstream
    volumes: ["./bufstream.yaml:/bufstream.yaml"]
    # If you encounter out-of-memory issues, increase this value to suit your
    # workload. 1 GiB is reasonable for simple local development and testing.
    # Production Kubernetes deployments default to 8 GiB (8589934592).
    environment:
      - BUFSTREAM_AVAILABLE_MEMORY=1073741824
    healthcheck:
      test: ["CMD", "/usr/local/bin/bufstream", "admin", "status", "--exit-code", "--url", "http://127.0.0.1:9089"]
    command: ["serve", "--config", "/bufstream.yaml"]
