babel==2.17.0
betterproto==1.2.5
bufbuild-protovalidate-protocolbuffers-pyi==29.3.0.1.20250130201111+63bb56e20495
bufbuild-protovalidate-protocolbuffers-python==29.3.0.1.20250130201111+63bb56e20495
cel-python==0.1.5
certifi==2025.1.31
charset-normalizer==3.4.1
exceptiongroup==1.2.2
googleapis-common-protos==1.67.0rc1
grpc-interceptor==0.15.4
grpcio==1.70.0
grpcio-reflection==1.70.0
grpcio-status==1.70.0
grpclib==0.4.7
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
lark-parser==0.12.0
multidict==6.1.0
packaging==24.2
pluggy==1.5.0
protobuf==5.29.3
protovalidate==0.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
ruff==0.9.6
six==1.17.0
stringcase==1.2.0
tomli==2.2.1
types-protobuf==5.29.1.20250208
typing_extensions==4.12.2
urllib3==2.3.0
v1==0.12.3
