name: buf
on:
  push:
  delete:
  workflow_dispatch: {} # support manual runs
permissions:
  contents: read
jobs:
  breaking:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
      - uses: bufbuild/buf-action@v1
        with:
          input: cli/breaking-change-detection/start
          token: ${{ secrets.BUF_TOKEN }}
  limit-types:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
      - uses: bufbuild/buf-action@v1
        with:
          input: cli/limit-output-types
          token: ${{ secrets.BUF_TOKEN }}
  lint:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
      - uses: bufbuild/buf-action@v1
        with:
          input: cli/linting/finish
          token: ${{ secrets.BUF_TOKEN }}
  workspace-api:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
      - uses: bufbuild/buf-action@v1
        with:
          input: cli/workspace/observabilityapi
          token: ${{ secrets.BUF_TOKEN }}
  workspace-types:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
      - uses: bufbuild/buf-action@v1
        with:
          input: cli/workspace/observabilitytypes
          token: ${{ secrets.BUF_TOKEN }}
