name: CI
on: push
permissions: read-all
jobs:
  lint-and-breaking-change-detection:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Buf Action
        uses: bufbuild/buf-action@v1
        with:
          input: integrations/github-actions
          token: ${{ secrets.BUF_TOKEN }}
  ci:
    name: CI for all examples
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: false
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: quickstart-go/finish/go.mod
      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'
      - name: Install Buf CLI
        run: go install github.com/bufbuild/buf/cmd/buf@v1.50.0
      - name: Install golangci-lint
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.64.5
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pytest
      - name: CI
        run: make ci
